#allRating{
	position:relative;
	margin:50px auto;
	width:500px;
	z-index:100;
	padding:30px;
	border:1px solid #383838;
	background: #D1D1D1;
	/* My stripped background */
	background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;
}
#allRating:after{
	background:#F9F9F9;
	margin:10px;
	position: absolute;
	content : " ";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	border:1px #E5E5E5 solid;
	border-radius:8px;
}
.comment-title {
	padding-top: 10px;

}
.comment-date span, .comment-author span, .comment-rating span, .comment-text span{
	font-weight: bold;
	font-size: 12px;
}
.comment-moderator {
	background: green;
	color: white;
}
.comment-moderator span:nth-child(1){
	font-weight: bold;
	color: black;
}
.rating-title {
	font-size: 14px;
	font-weight: bold;
}